.container-header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: cadetblue;
  top: 0;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}

.container-logo {
  margin-left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-box {
  margin-right: 10%;
  display: flex;
}
.logo-header {
  width: 149px;
  height: 40px;
}

h4 {
  color: azure;
}

span {
  color: azure;
  font-size: small;
}
